@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    background-color: #4169E1;
    margin: 0;
}

a {
    text-decoration: none;
    text-transform: none;
    outline: none;
    color: white;
}

html, body {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content_container h3 {
    text-align: center;
    font-size: 35px;
}

div .intro_splash_text {
    font-size: 30px;
}

nav {
    display: flex;
    width: 100%;
    background: #1E90FF;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav .icon {
    font-size: 35px;
    font-weight: 800;
    color: #ffffff;
    cursor: pointer;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ol li:hover a {
    background: white;
    color: #1E90FF;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;

}

nav .search_box input {
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}

nav .search_box span {
    color: #1E90FF;
    font-size: 20px;
    background: white;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span:hover {
    color: white;
}

nav .search_box span::after {
    height: 100%;
    width: 0;
    content: '';
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search_box span:hover::after {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #1E90FF;
    margin-top: auto;
    z-index: 1;
    flex: 0 0 auto;
}

.footer-push {
    display: flex;
    justify-content: space-around;
    background-color: #1E90FF;
    margin-top: auto;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_block {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    color: #fff;
    text-align: center;
}

.footer_block_social_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.simple_text {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro_splash {
    width: 100%;
    height: 95vh;
    background: url("../../assets/auction_house.png") center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.intro_splash_text {
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-left: 70%;
    margin-top: 0;
    z-index: 2;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.content_container {
    padding-top: 20px;
}

#logo {
    display: flex;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product_list .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    margin: 10px;
}

.product img {
    width: 20vw;
    height: auto;
}

.product_info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 16px;
    text-align: center;
}

.product_info p {
    min-height: 13vh;
    font-size: 17px;
}

.product_info h4 {
    text-align: center;
    font-size: 20px;
}

.about {
    display: flex;
    width: 100%;
    padding: 78px 0;
    background-color: #4169E1;
}

.about img {
    height: auto;
    width: 45%;
    border-radius: 15px;
}

.about_main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_text {
    width: 550px;
}

.about_text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about_text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 12px;
    letter-spacing: 2px;
}

.edu_block {
    color: white;
    letter-spacing: 1px;
    margin-left: 10px;
    font-size: 18px;
}

.about button {
    margin-top: 25px;
    align-items: center;
    background: blueviolet;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.about button:hover {
    background: transparent;
    border: 2px solid blueviolet;
    cursor: pointer;
}

.forms_container {
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.forms-inner {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.forms-inner .forms {
    padding: 30px;
}

.forms-inner span {
    color: #1E90FF;
}

.forms-inner .forms .form_title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.forms .input_field {
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 100%;
}

.input_field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: 0;
    outline: 0;
    left: 0;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    font-size: 16px;
}

.input_field i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input_field i.lock-icon {
    left: 0;
}

.forms .button {
    margin-top: 35px;
}

.forms .button input {
    border: none;
    color: white;
    background-color: #4169E1;
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

}

.forms .button input:hover {
    background-color: blueviolet;
}

.forms .login-signup {
    margin-top: 30px;
    text-align: center;
}

.forms a {
    text-decoration: underline;
    text-transform: none;
    outline: none;
    color: blueviolet;
}

